<section class ="container mx-auto text-center">
  <img class="inline-block pt-8"src="/img/banner_error_404.jpg" />
  <h1 class="text-lg mt-4 text-2xl font-bold">
    Looks like the page does not exist. Please head back to home page for new
    direction.
  </h1>
</section>
